In [1]:
# Import Dependencies
import pandas as pd

In [2]:
# Read in Covid-19 and deaths data source
covid_19_deaths = pd.read_csv("covid_deaths.csv")
covid_19_deaths

,Country,State,Jan_sum,Feb_sum,Mar_sum,Apr_sum,May_sum,Jun_sum,Jul_sum
0,Australia,Australian Capital Territory,0,0,2,73,93,90,69
1,Australia,New South Wales,0,0,120,750,1415,1447,1127
2,Australia,Northern Territory,0,0,0,0,0,0,0
3,Australia,Queensland,0,0,9,151,192,180,138
4,Australia,South Australia,0,0,0,88,124,120,92
5,Australia,Tasmania,0,0,1,183,403,390,299
6,Australia,Victoria,0,0,21,394,567,578,674
7,Australia,Western Australia,0,0,37,178,277,270,207
8,Brazil,NaN,0,0,976,66571,509030,1353392,1661756
9,China,Anhui,0,113,186,180,186,180,138
10,China,Beijing,5,93,248,245,279,270,207
11,China,Chongqing,0,119,186,180,186,180,138
12,China,Fujian,0,10,31,30,31,30,23
13,China,Gansu,0,43,62,60,62,60,46
14,China,Guangdong,0,89,240,240,248,240,184
15,China,Guangxi,0,38,62,60,62,60,46
16,China,Guizhou,0,37,62,60,62,60,46
17,China,Hainan,5,98,182,180,186,180,138
18,China,Hebei,9,97,186,180,186,180,138
19,China,Heilongjiang,10,249,403,390,403,390,299
20,China,Henan,9,341,682,660,682,660,506
21,China,Hong Kong,0,37,105,120,124,145,209
22,China,Hubei,842,44620,94842,114572,139872,135360,103776
23,China,Hunan,0,66,124,120,124,120,92
24,China,Inner Mongolia,0,0,29,30,31,30,23
25,China,Jiangsu,0,0,0,0,0,0,0
26,China,Jiangxi,0,20,31,30,31,30,23
27,China,Jilin,0,23,31,30,47,60,46
28,China,Liaoning,0,18,43,60,62,60,46
29,China,Macau,0,0,0,0,0,0,0
30,China,Ningxia,0,0,0,0,0,0,0
31,China,Qinghai,0,0,0,0,0,0,0
32,China,Shaanxi,0,10,66,90,93,90,69
33,China,Shandong,0,72,205,210,217,210,161
34,China,Shanghai,6,48,110,203,217,210,161
35,China,Shanxi,0,0,0,0,0,0,0
36,China,Sichuan,3,57,93,90,93,90,69
37,China,Tianjin,0,61,93,90,93,90,69
38,China,Tibet,0,0,0,0,0,0,0
39,China,Xinjiang,0,27,93,90,93,90,69
40,China,Yunnan,0,21,62,60,62,60,46
41,China,Zhejiang,0,10,31,30,31,30,23
42,India,NaN,0,0,226,14417,94154,331856,541581
43,Italy,NaN,0,102,116616,644171,973585,1028841,803984
44,"Korea, South",NaN,0,83,2606,6533,8104,8337,6660
45,Mexico,NaN,0,0,136,19390,165485,562682,807592
46,Russia,NaN,0,0,54,10123,82313,215268,258846
47,South Africa,NaN,0,0,12,1363,9779,48178,95813
48,Sweden,NaN,0,0,945,39340,110620,148005,127212
49,US,NaN,0,1,26160,1035013,2728676,3518537,3116011