In [1]:
import pandas as pd
import csv
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.patches import Patch

In [5]:
filepath = "Resources/MoscowAQI.csv"
MosAQIDF = pd.read_csv(filepath , delimiter=", ")

In [7]:
MosAQIDF["date"] = MexAQIDF["date"].astype(str)
MosAQIDF

           date  pm25  pm10    o3   no2  so2   co
0      2020/7/2  43.0  34.0  15.0  19.0    1  2.0
1      2020/7/3  68.0  26.0  15.0  20.0  NaN  2.0
2      2020/7/4  60.0  18.0  13.0  23.0    1  3.0
3      2020/7/5  38.0   NaN  12.0   NaN    ,  NaN
4      2020/7/8  61.0  40.0   NaN  19.0  NaN  3.0
...         ...   ...   ...   ...   ...  ...  ...
2024  2015/1/11   NaN   NaN   NaN   NaN  NaN  4.0
2025   2015/2/8   NaN   NaN   NaN   NaN  NaN  1.0
2026  2015/2/16   NaN   NaN   NaN   NaN  NaN  3.0
2027   2015/3/5   NaN   NaN   NaN   NaN  NaN  6.0
2028  2014/6/30   NaN   NaN   NaN   NaN  NaN  3.0

[2029 rows x 7 columns]

In [8]:
#split DF in year/month to sort
MosAQIDF[["year","month","day"]] = MosAQIDF["date"].str.split("/", n=2, expand=True)
MosAQIDF

           date  pm25  pm10    o3   no2  so2   co  year month day
0      2020/7/2  43.0  34.0  15.0  19.0    1  2.0  2020     7   2
1      2020/7/3  68.0  26.0  15.0  20.0  NaN  2.0  2020     7   3
2      2020/7/4  60.0  18.0  13.0  23.0    1  3.0  2020     7   4
3      2020/7/5  38.0   NaN  12.0   NaN    ,  NaN  2020     7   5
4      2020/7/8  61.0  40.0   NaN  19.0  NaN  3.0  2020     7   8
...         ...   ...   ...   ...   ...  ...  ...   ...   ...  ..
2024  2015/1/11   NaN   NaN   NaN   NaN  NaN  4.0  2015     1  11
2025   2015/2/8   NaN   NaN   NaN   NaN  NaN  1.0  2015     2   8
2026  2015/2/16   NaN   NaN   NaN   NaN  NaN  3.0  2015     2  16
2027   2015/3/5   NaN   NaN   NaN   NaN  NaN  6.0  2015     3   5
2028  2014/6/30   NaN   NaN   NaN   NaN  NaN  3.0  2014     6  30

[2029 rows x 10 columns]

In [12]:
#get rid of dates we're not looking for
MosAQIDF["month"] = MosAQIDF["month"].astype(int)
MosAQIDF["year"] = MosAQIDF["year"].astype(int)
MosAQIDF = MosAQIDF[MosAQIDF["month"] < 8]
MosAQIDF

           date  pm25  pm10    o3   no2  so2   co  year month day
0      2020/7/2  43.0  34.0  15.0  19.0    1  2.0  2020     7   2
1      2020/7/3  68.0  26.0  15.0  20.0  NaN  2.0  2020     7   3
2      2020/7/4  60.0  18.0  13.0  23.0    1  3.0  2020     7   4
3      2020/7/5  38.0   NaN  12.0   NaN    ,  NaN  2020     7   5
4      2020/7/8  61.0  40.0   NaN  19.0  NaN  3.0  2020     7   8
...         ...   ...   ...   ...   ...  ...  ...   ...   ...  ..
2024  2015/1/11   NaN   NaN   NaN   NaN  NaN  4.0  2015     1  11
2025   2015/2/8   NaN   NaN   NaN   NaN  NaN  1.0  2015     2   8
2026  2015/2/16   NaN   NaN   NaN   NaN  NaN  3.0  2015     2  16
2027   2015/3/5   NaN   NaN   NaN   NaN  NaN  6.0  2015     3   5
2028  2014/6/30   NaN   NaN   NaN   NaN  NaN  3.0  2014     6  30

[1257 rows x 10 columns]

In [31]:
MosAQIDF.describe()

,pm25,pm10,o3,no2,co,year
count,405.000000,403.000000,140.000000,1181.000000,1183.000000,1257.000000
mean,49.481481,29.995037,18.442857,18.657917,3.654269,2016.805887
std,19.292890,15.694851,8.003840,7.464935,1.778704,2.052774
min,9.000000,5.000000,1.000000,3.000000,1.000000,2014.000000
25%,35.000000,18.000000,14.000000,14.000000,2.000000,2015.000000
50%,48.000000,28.000000,19.000000,18.000000,3.000000,2017.000000
75%,61.000000,37.000000,23.250000,23.000000,5.000000,2019.000000
max,139.000000,110.000000,49.000000,56.000000,15.000000,2020.000000

In [21]:
Mos2017AQIDF = MosAQIDF[MosAQIDF["year"] == 2017]
Mos2017AQIDF.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 209 entries, 730 to 2010
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    209 non-null    object
 1   pm25    0 non-null      float64
 2   pm10    0 non-null      float64
 3   o3      0 non-null      float64
 4   no2     206 non-null    float64
 5   so2     14 non-null     object
 6   co      206 non-null    float64
 7   year    209 non-null    int32
 8   month   209 non-null    object
 9   day     209 non-null    object
dtypes: float64(5), int32(1), object(4)
memory usage: 17.1+ KB

In [22]:
Mos2018AQIDF = MosAQIDF[MosAQIDF["year"] == 2018]
Mos2018AQIDF.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 58 entries, 574 to 729
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    58 non-null     object
 1   pm25    55 non-null     float64
 2   pm10    56 non-null     float64
 3   o3      0 non-null      float64
 4   no2     57 non-null     float64
 5   so2     10 non-null     object
 6   co      56 non-null     float64
 7   year    58 non-null     int32
 8   month   58 non-null     object
 9   day     58 non-null     object
dtypes: float64(5), int32(1), object(4)
memory usage: 4.8+ KB

In [23]:
Mos2018AQIDF["month"].value_counts()

7    31
6    27
Name: month, dtype: int64

In [24]:
Mos2019AQIDF = MosAQIDF[MosAQIDF["year"] == 2019]
Mos2019AQIDF.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 200 entries, 254 to 718
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    200 non-null    object
 1   pm25    179 non-null    float64
 2   pm10    190 non-null    float64
 3   o3      9 non-null      float64
 4   no2     153 non-null    float64
 5   so2     51 non-null     object
 6   co      196 non-null    float64
 7   year    200 non-null    int32
 8   month   200 non-null    object
 9   day     200 non-null    object
dtypes: float64(5), int32(1), object(4)
memory usage: 16.4+ KB

In [25]:
Mos2019AQIDF["month"].value_counts()

1    31
5    31
7    31
4    30
6    30
2    28
3    19
Name: month, dtype: int64

In [26]:
Mos2020AQIDF = MosAQIDF[MosAQIDF["year"] == 2020]
Mos2020AQIDF.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 177 entries, 0 to 722
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    177 non-null    object
 1   pm25    171 non-null    float64
 2   pm10    157 non-null    float64
 3   o3      131 non-null    float64
 4   no2     170 non-null    float64
 5   so2     67 non-null     object
 6   co      123 non-null    float64
 7   year    177 non-null    int32
 8   month   177 non-null    object
 9   day     177 non-null    object
dtypes: float64(5), int32(1), object(4)
memory usage: 14.5+ KB

In [28]:
Mos2020AQIDF["month"].value_counts()

1    31
6    30
2    29
4    28
7    25
5    23
3    11
Name: month, dtype: int64

<class 'pandas.core.frame.DataFrame'>
Int64Index: 204 entries, 1400 to 2027
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    204 non-null    object
 1   pm25    0 non-null      float64
 2   pm10    0 non-null      float64
 3   o3      0 non-null      float64
 4   no2     192 non-null    float64
 5   so2     7 non-null      object
 6   co      197 non-null    float64
 7   year    204 non-null    int32
 8   month   204 non-null    object
 9   day     204 non-null    object
dtypes: float64(5), int32(1), object(4)
memory usage: 16.7+ KB