In [195]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [196]:
pwd

"C:\\Users\\a_mcr\\Desktop\\Bootcamp\\Group_Projects\\project-one\\Alvaro's Work\\Jupyter_notebooks_alvaro"

In [197]:
owid = "../AQI CSV Files_raw_data/owid_covid_data.csv"
covid_df = pd.read_csv(owid, delimiter=",")

In [198]:
covid_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33417 entries, 0 to 33416
Data columns (total 12 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   iso_code                  33353 non-null  object
 1   continent                 33141 non-null  object
 2   location                  33417 non-null  object
 3   date                      33417 non-null  object
 4   total_cases               33062 non-null  float64
 5   new_cases                 33062 non-null  float64
 6   total_deaths              33062 non-null  float64
 7   new_deaths                33062 non-null  float64
 8   total_cases_per_million   32998 non-null  float64
 9   new_cases_per_million     32998 non-null  float64
 10  total_deaths_per_million  32998 non-null  float64
 11  new_deaths_per_million    32998 non-null  float64
dtypes: float64(8), object(4)
memory usage: 3.1+ MB

In [199]:
covid_df['date'] = covid_df['date'].astype('datetime64[D]')
covid_df.columns

Index(['iso_code', 'continent', 'location', 'date', 'total_cases', 'new_cases',
       'total_deaths', 'new_deaths', 'total_cases_per_million',
       'new_cases_per_million', 'total_deaths_per_million',
       'new_deaths_per_million'],
      dtype='object')

In [200]:
covid_df.drop(columns=['iso_code', 'continent','total_cases', 'new_cases','total_deaths','total_cases_per_million','new_cases_per_million','total_deaths_per_million'],inplace=True)
new_cols = covid_df.rename(columns={"location":"Country","date":"Date","new_deaths":"Deaths","new_deaths_per_million":"Deaths/million"})
new_cols

             Country       Date  Deaths  Deaths/million
0              Aruba 2020-03-13     0.0             0.0
1              Aruba 2020-03-20     0.0             0.0
2              Aruba 2020-03-24     0.0             0.0
3              Aruba 2020-03-25     0.0             0.0
4              Aruba 2020-03-26     0.0             0.0
...              ...        ...     ...             ...
33412  International 2020-02-28     0.0             NaN
33413  International 2020-02-29     2.0             NaN
33414  International 2020-03-01     0.0             NaN
33415  International 2020-03-02     0.0             NaN
33416  International 2020-03-10     1.0             NaN

[33417 rows x 4 columns]

In [201]:
full_list = new_cols.groupby(["Country","Date"]).sum()

In [202]:
# short_list = new_cols.loc[["Australia","Brazil","China","India","Italy","Mexico","Russia","South Africa","Korea, South","Sweden","US"]]
full_list.loc[["Australia","Brazil","China","India","Italy","Mexico","Russia","South Africa","South Korea","Sweden","United States"]]

                          Deaths  Deaths/million
Country       Date
Australia     2019-12-31     0.0           0.000
              2020-01-01     0.0           0.000
              2020-01-02     0.0           0.000
              2020-01-03     0.0           0.000
              2020-01-04     0.0           0.000
...                          ...             ...
United States 2020-07-25  1304.0           3.940
              2020-07-26   914.0           2.761
              2020-07-27   475.0           1.435
              2020-07-28  1076.0           3.251
              2020-07-29  1245.0           3.761

[2293 rows x 2 columns]

In [226]:
aus_Jan = full_list.loc["Australia","Deaths"][:32].sum()
aus_Feb = full_list.loc["Australia","Deaths"][32:61].sum()
aus_Mar = full_list.loc["Australia","Deaths"][61:92].sum()
aus_Apr = full_list.loc["Australia","Deaths"][92:122].sum()
aus_May = full_list.loc["Australia","Deaths"][122:153].sum()
aus_Jun = full_list.loc["Australia","Deaths"][153:183].sum()
aus_Jul = full_list.loc["Australia","Deaths"][183:212].sum()
# full_list["Jan"] = aus_Jan
# full_list["Feb"] = aus_Feb
# full_list["Mar"] = aus_Mar
# full_list["Apr"] = aus_Apr
# full_list["May"] = aus_May
# full_list["Jun"] = aus_Jun
# full_list["Jul"] = aus_Jul

63.0

ValueError: If using all scalar values, you must pass an index